* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010001;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    padding-top: 53px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
}

.header {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__nav {
    display: flex;
    align-items: center;
}

.main__nav-link {
    font-size: 12px;
    line-height: 14px;
}

.main__nav-link:not(:last-child) {
    margin-right: 20px;
}

.seconday__nav {
    display: flex;
    align-items: center;
}

.seconday__nav-link {
    font-size: 12px;
    line-height: 14px;
    color: #808080;
}

.seconday__nav-link:not(:last-child) {
    margin-right: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 32px;
}

.title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    text-align: center;
}

.description {
    max-width: 268px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
}

.description::after {
    content: '';
    width: 1px;
    display: block;
    height: 59px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 26px;
}

.video {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    height: 750px;
}

.features {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    padding: 50px 0;
    position: relative;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.table {
    margin-bottom: 218px;
}

.table td {
    width: 230px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 32px;
}

.rocket {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 99;
    width: auto;
    height: 1700px;
    object-fit: cover;
}

.features-description {
    font-size: 16px;
    line-height: 29px;
    max-width: 490px;
}

.footer {
    padding: 130px 0 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.social-link {
    margin: 28px 20px;
    font-size: 18px;
    line-height: 21px;
}

.footer-text,
.footer-text a {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-align: center;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    min-width: 260px;
    height: 60px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    background: transparent;

    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    transition: 0.4s linear;
    cursor: pointer;
}

.footer-button:hover {
    background: #70a1ff;
    color: #fff;
}

.modal-wraper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}

.modal {
    /* position: absolute; */
    background: #313847;
    margin: auto;
    /* top: 50%;
    left: 50%;
    margin-left: -340px;
    margin-top: -276px;
    transform: translate(-50%, -50%); */
    max-width: 680px;
    width: 95%;

    /* max-height: 552px; */
    /* background-color: rgb(13, 13, 14); */
    padding: 15px 15px;

    border-radius: 10px;
    z-index: 1;


}

.modal-dialog-auth {
    width: auto;
    position: relative;
}

.modal .modal__text-wraper h1 {
    font-size: 22px;
    text-align: center;
}



.modal-active {
    display: flex;
}


.button-close {
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    font-size: 20px;

}

.button-close:hover {
    color: rgb(255, 255, 255);
}

.contact-section {
    background: #313847;
    padding: 80px 0;
    text-align: center;
    border: 2px solid;
    border-color: #FFFFFF;
    border-radius: 10px;

}

.inner-width {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

.contact-section h1 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.name,
.email,
.message {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #FFFFFF;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}

.name::placeholder {
    color: #FFFFFF;
}

.email::placeholder {
    color: #FFFFFF;
}

.message::placeholder {
    color: #FFFFFF;
}



.name {
    float: left;
    width: 270px;
}

.email {
    float: right;
    width: 270px;
}

.message {
    min-width: 100%;
    max-width: 100%;
}


.contact-section button {
    background: none;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
}

.contact-section button:hover {
    background: #70a1ff;
    color: #fff;
}


@media screen and (max-width:600px) {

    .name,
    .email {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .rocket {
        max-width: 230px;
        height: auto;
        top: 200px;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header,
    .features {
        width: 95%;
    }

    .main__nav,
    .seconday__nav {
        margin-top: 20px;
    }

    .rocket {
        max-width: 180px;
    }

    .video {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .rocket {
        display: none;
    }

    .vidbg-container video {
        height: 580px !important;
    }

    .vidbg-container {
        height: 580px !important;
    }


}

@media (max-width: 576px) {
    .main {
        padding-top: 70px;
    }

    .title {
        font-size: 52px;
    }

    .rocket {
        position: static;
        margin: auto;
        margin-bottom: 30px;
    }

    .table {
        margin-bottom: 0;
    }

    .table td {
        font-size: 14px;
        max-width: 150px;
    }

    .footer {
        padding: 70px 0;
    }

    .footer-nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 28px;
        margin-bottom: 18px;
    }

    .social-link {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .features {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .vidbg-container video {
        height: 580px !important;
    }

    .video {
        height: 640px;
    }
}



@media (max-width: 420px) {
    .vidbg-container video {
        height: 435px !important;
    }

    .vidbg-container {
        height: 435px !important;
    }

    .video {
        height: 440px;
    }
}

@media (max-width: 335) {
    .vidbg-container video {
        height: 360px !important;
    }

    .vidbg-container {
        height: 360px !important;
    }

    .video {
        height: 440px;
    }
}